In [5]:
import pandas as pd
dataset_url = 'http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
df = pd.read_csv(dataset_url)
df = pd.read_csv(dataset_url, sep=';') # The initial data was separated using semicolons
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
df.iloc[1] #Accessing row 1 using indices (Row names can also be used)

fixed acidity            7.8000
volatile acidity         0.8800
citric acid              0.0000
residual sugar           2.6000
chlorides                0.0980
free sulfur dioxide     25.0000
total sulfur dioxide    67.0000
density                  0.9968
pH                       3.2000
sulphates                0.6800
alcohol                  9.8000
quality                  5.0000
Name: 1, dtype: float64

In [12]:
df.iloc[[0,3,4]] # Indexing several rows

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [17]:
df[:2] # slicign a dataframe as if it were a list also works

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [ ]:
#Pandas can also be used to access columns in a dataframe by placing list of columns in brackets

In [26]:
df['citric acid'].head(1)

0    0.0
Name: citric acid, dtype: float64

In [22]:
df.pH.head(2)  # only works for one word names. ie without spaces

0    3.51
1    3.20
Name: pH, dtype: float64

In [24]:
df["fixed acidity"].head(2)

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [27]:
#Replacing spaces with _ in column names
df.columns = [col.replace(' ', '_').lower() for col in df.columns]
print (df.columns)

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'ph', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
#Accesing both columns and rows

In [30]:
df[["alcohol","density"]][:5]

   alcohol  density
0      9.4   0.9978
1      9.8   0.9968
2      9.8   0.9970
3      9.8   0.9980
4      9.4   0.9978

In [34]:
#Indexing single values in the dataframe
df.free_sulfur_dioxide.iloc[:2]

0    11.0
1    25.0
Name: free_sulfur_dioxide, dtype: float64

In [37]:
#The main method for subsetting data in Pandas is called boolean indexing. First, let's take a look at what pandas does when we ask it to evaluate a boolean:

In [48]:
(df.residual_sugar==1.9).head(4)
#~ replaces not, | replaces OR, & replaces AND
df[(df.residual_sugar==1.9) & (df.ph<3.51)].head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alcohol,quality
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.9972,3.47,0.55,9.4,5
62,7.5,0.520,0.16,1.9,0.085,12.0,35.0,0.9968,3.38,0.62,9.5,7
69,8.0,0.705,0.05,1.9,0.074,8.0,19.0,0.9962,3.34,0.95,10.5,6
70,7.7,0.630,0.08,1.9,0.076,15.0,27.0,0.9967,3.32,0.54,9.5,6